<!--Footer layout page-->
<p>Website developed by Kevin Stewart</p>
<p>
    Contact information: <a href="mailto:kevinrstewart99@gmail.com">
        kevinrstewart99@gmail.com
    </a>
</p>
<p>
    Site utilizes <a href="https://getbootstrap.com/">Bootstrap</a>
</p>